@font-face{
  font-family:'jetBrainsMono';
  src: url('jetbrains_mono/JetBrainsMono-Regular.ttf') format('ttf'),
  url('jetbrains_mono/JetBrainsMono-Regular.woff2') format('woff2');
}

body{
  background:fixed url('IMAGES/mu.jpg') center ;
  background-size: cover;
  margin:0px;
  display:flex;
}

aside{
  width:10vw;
  min-width:90px;
  height:90vh;
  margin:4vh auto;
  /* border: 1px solid aqua; */

  display:flex;
  justify-content: center;
  align-items: center;
}

.taskbar{
  /*change pixel to rem*/
  height:90vh;
  width:90px;
  /* min-height:400px; */

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: space-around;
  /*any alternate way?*/
  
  /*GLASS EFFECT*/
  background-color:rgba(255, 255, 255,0.2);
  border-radius:1.2rem;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.01);
}
.b1,.b2,.b3,.b4,.b5,.b6{
  /*change pixel to rem*/
  /* width:50px; */
  /* height:50px; */
  /* background-color:rgb(10, 224, 64); */
  flex-shrink:0;
  border-radius:5px;
}


section{
  width:80vw;
  height:90vh;
  margin:4vh auto;
  /* border:1px solid red; */
  display:flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.menu{
  width:78vw;
  height:90vh;
  /*GLASS EFFECT*/
  background-color:rgba(255, 255, 255,0.2);
  border-radius:1.2rem;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.01);
  display:flex; 
  justify-content: space-around;
  flex-wrap:wrap;
  
}

#day,#month,#year,#hours,#minutes,#seconds{
  font-family:jetBrainsMono;
  font-size:35px;
  text-align:center;

}
.dleft{
  font-family:jetBrainsMono;
  font-weight:bold;
}

.items{
  width:100px;
  height:100px;
  margin:80px;
}
.items p{
  font-family:jetBrainsMono;
  font-size:20px;
  text-align:center;
}
.items img{
  border-radius:10px;
}

.wall{
  margin-top:50px;
}
#headcenter{
  width:100%;
  text-align: center;
  font-size:28px;
  font-family:jetBrainsMono;
}

img[onclick='firstwall()'],img[onclick='secondwall()'],img[onclick='thirdwall()'],img[onclick='fourthwall()']{
  border-radius:15px;
}

.about{
  text-align:center;
  font-family:jetBrainsMono;
  font-size:21px;
}

li{
  list-style-type:none;
  /* font-size:22px; */
}

.contain{
  width:98vw;
  height:95vh;
  background-color: blue;
  border-radius:15px;
}

iframe{
  width:100%;
  height:100%;
  border-radius:15px;
  background-size:contain
}
.exit{
  width:510px;
  height:510px;
  background-color: blueviolet;
}

.b1:hover{
  position:relative;
  right:30px;
}
.b1 img:hover{
  width:100px;
  height:100px;
}
.b2:hover{
  position:relative;
  right:30px;
}
.b2 img:hover{
  width:100px;
  height:100px;
}
.b3:hover{
  position:relative;
  right:30px;
}
.b3 img:hover{
  width:100px;
  height:100px;
}

#section img:hover{
  position:relative;
  bottom:10px;
}